@tailwind base;
@tailwind components;
@tailwind utilities;
@import './vars.scss';
@import './fonts.scss';

@layer components {
  button {
    transition: 0.3s linear;
  }
  .header-link .active {
    color: rgb(230, 80, 26);
    & span {
      color: #fff;
    }
  }

  .bgGradient {
    background: rgb(13, 2, 170);
    background: linear-gradient(
      120deg,
      rgba(13, 2, 170, 1) 39%,
      rgba(98, 38, 187, 1) 53%
    );
  }

  .bg-dark {
    background-color: rgb(0, 0, 0, 0.95);
  }

  .centerBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .bg {
    &-options {
      @apply bg-no-repeat bg-center bg-full;
    }
  }
}
